createdAt: "2018-12-12T11:18:52.910Z"
updatedAt: "2018-12-12T11:19:36.474Z"
type: "MARKDOWN_NOTE"
folder: "a0e1aeb419d074b1ac51"
title: "Ejemplo CASE en SQL SERVER"
content: '''
  Ejemplo CASE en SQL SERVER
  
  ```SQL
  select count(*) as TOTAL,
  sum(CASE WHEN ESTADO_JAZZTEL IN ('Solicitado') OR ESTADO_VISITA IN ('Enviada') THEN 1 ELSE 0 END ) AS EN_CURSO,
  sum(CASE WHEN ESTADO_JAZZTEL IN ('Realizado') OR ESTADO_VISITA IN ('Realizada') THEN 1 ELSE 0 END ) AS REALIZADO, 
  sum(CASE WHEN DATEDIFF(day, PETICIONES_TOA.F_PREVISTA, CONVERT(datetime2, GETDATE())) > 1 AND HISTORICO_CAMBIOS_ESTADO.IDPROVISION NOT IN (PETICIONES_TOA.IDPROVISION) THEN 1 ELSE 0 END) AS PENDIENTE_FRANJA,
  sum(CASE WHEN HISTORICO_CAMBIOS_ESTADO.ESTADO_ANTERIOR = 'Citado' AND (HISTORICO_CAMBIOS_ESTADO.ESTADO_NUEVO like '%Retraso%' OR HISTORICO_CAMBIOS_ESTADO.ESTADO_NUEVO like '%Pospuesto%') AND DATEDIFF(hour, HISTORICO_CAMBIOS_ESTADO.F_CAMBIO_ESTADO, PETICIONES_TOA.F_PREVISTA) > 3 THEN 1 ELSE 0 END ) AS REPROGRAMACION_FRANJA,
  sum(CASE WHEN HISTORICO_CAMBIOS_ESTADO.ESTADO_ANTERIOR = 'Citado' AND (HISTORICO_CAMBIOS_ESTADO.ESTADO_NUEVO like '%Retraso%' OR HISTORICO_CAMBIOS_ESTADO.ESTADO_NUEVO like '%Pospuesto%') AND DATEDIFF(day, HISTORICO_CAMBIOS_ESTADO.F_CAMBIO_ESTADO, PETICIONES_TOA.F_PREVISTA) > 1 THEN 1 ELSE 0 END ) AS REPROGRAMACION_DIA,
  sum(CASE WHEN ESTADO_JAZZTEL IN ('En incidencia', 'Cancelado') OR ESTADO_VISITA IN ('Cancelada') THEN 1 ELSE 0 END ) AS CANCELADA_y_enINCIDENCIA, 
  sum(CASE WHEN ESTADO_JAZZTEL IN ('Realizado') AND ESTADO = 'Instalado' OR ESTADO_VISITA IN ('Realizada') AND ESTADO = 'Instalado' THEN 1 ELSE 0 END ) AS INSTALADO
  from PETICIONES_TOA
  LEFT JOIN HISTORICO_CAMBIOS_ESTADO on HISTORICO_CAMBIOS_ESTADO.IDPROVISION = PETICIONES_TOA.IDPROVISION
  where F_PREVISTA BETWEEN CONVERT(datetime2, CONCAT(CONVERT(date, GETDATE()),' 00:00')) AND CONVERT(datetime2, CONCAT(CONVERT(date, GETDATE()),' 23:59'));
  ```
'''
tags: []
isStarred: false
isTrashed: false
