type: "MARKDOWN_NOTE"
folder: "2263c40b7d724b64f768"
title: "Linux Commands Cheat"
content: '''
  # Linux Commands Cheat
  
  ## Debian package manager
  ---
  Listar todos los paquetes .dab instalados en el SO: `dpkg -l`
  Instalar un paquete descargado de Debian .dab: `sudo dpkg -i \\ruta\\paquete.dab`
  Desinstalar un programa ya existe: `sudo apt-get remove nombrePrograma` el `nombrePrograma` se puede obtener desde el comando `dpkg -l`
  Desinstalar un programa con los ficheros de configuración: `sudo apt-get --purge remove nombrePrograma`
  
  ---
  ## Sublime Text
  ### Instalar SublimeText
  `sudo add-apt-repository ppa:webupd8team/sublime-text-3`
  `sudo apt-get update`
  `sudo apt-get install sublime-text-installer`
  Ejecutar SublimeText desde la Terminal: `subl`
  ### Actualizar SublimeText
  1. Descargar el fichero desde la pagina oficial de [Sublime](https://www.sublimetext.com/).
  2. Descomprimir el fichero `tar vxjf sublime_text_3_build_3143_x64.tar.bz2`
  3. Sobreescribir la vieja version accediendo a la carpeta de la descomprensión: `sudo cp -rf sublime_text_3/. /opt/sublime_text`
  4. Borrar la carpeta de la descomprensión: `rm -rf sublime_text_3`
  ---
  
  ## XAMPP
  
  Iniciar XAMPP `sudo /opt/lampp/lampp/ start`
  Parar XAMPP `sudo /opt/lampp/lampp/ stop`
  Dar permisos a los directos y ficheros que se encuentran dentro de la carpeta __htdocs__: `sudo chmod 755 -R /opt/lampp/htdocs` 
  
  ---
  
  ## Postman
  ### Instalar Postman
  `wget https://dl.pstmn.io/download/latest/linux64 -O postman.tar.gz`
  `sudo tar -xzf postman.tar.gz -C /opt`
  `rm postman.tar.gz`
  `sudo ln -s /opt/Postman/Postman /usr/bin/postman`
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-14T16:31:10.660Z"
updatedAt: "2018-04-21T09:58:06.161Z"
