createdAt: "2018-07-10T06:57:29.920Z"
updatedAt: "2018-07-10T06:58:35.258Z"
type: "SNIPPET_NOTE"
folder: "42cd38fc19c3261a8ee1"
title: "Diferencia de dias entre dos fechas JavaScript"
description: "Diferencia de dias entre dos fechas JavaScript"
snippets: [
  {
    name: "ejemplo.js"
    mode: "JavaScript"
    content: '''
      			var date1 = new Date(fechaIni);
      			var date2 = new Date(fechaFin);
      			var timeDiff = Math.abs(date2.getTime() - date1.getTime());
      			var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
      
      			if(diffDays > 30)
      			{
      				alert('El rango maximo de filtracion son 30 dias.');
      				return false;
      			}
      			else
      			{
      				var fechaIni = fechaIni+' 00:00';
      				var fechaFin = fechaFin+' 23:59';
      			}
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
