createdAt: "2018-07-26T17:08:03.864Z"
updatedAt: "2018-07-26T17:08:19.039Z"
type: "SNIPPET_NOTE"
folder: "2263c40b7d724b64f768"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
