createdAt: "2018-10-23T05:46:02.303Z"
updatedAt: "2018-10-23T06:06:39.979Z"
type: "SNIPPET_NOTE"
folder: "42cd38fc19c3261a8ee1"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
