createdAt: "2018-09-24T07:50:40.458Z"
updatedAt: "2018-09-28T12:15:16.846Z"
type: "SNIPPET_NOTE"
folder: "efa9ce1d49f8f7a14ef1"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
