type: "SNIPPET_NOTE"
folder: "d477d9dc554c9f71d97c"
title: "Prueba"
description: "Prueba"
snippets: [
  {
    name: "Repositorio.js"
    mode: "JavaScript"
    content: '''
      var nombre = "Nestor";
      console.log(nombre);
    '''
  }
  {
    name: "Repositorio.html"
    mode: "HTML"
    content: "<h1>hola</h1>"
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-19T14:55:23.272Z"
updatedAt: "2017-09-21T12:48:08.241Z"
