createdAt: "2019-03-29T09:03:17.708Z"
updatedAt: "2019-03-29T09:03:29.130Z"
type: "SNIPPET_NOTE"
folder: "d477d9dc554c9f71d97c"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "APL"
    content: ""
  }
]
isStarred: false
isTrashed: true
